*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

header{
  background:#b22222;
  padding:15px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

header h1, nav a{
  color:white;
}

nav a{
  margin-left:15px;
  text-decoration:none;
}

.hero{
  height:80vh;
  background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
  url("https://images.unsplash.com/photo-1555396273-367ea4eb4db5");
  background-size:cover;
  color:white;
  text-align:center;
  padding-top:150px;
}

.menu, .gallery, .order, .contact{
  padding:50px;
  text-align:center;
}

.menu-box{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:20px;
  margin-top:20px;
}

.item{
  background:#f4f4f4;
  padding:20px;
  border-radius:8px;
}

.gallery-box{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:15px;
  margin-top:20px;
}

.gallery-box img{
  width:100%;
  border-radius:10px;
}

form{
  max-width:400px;
  margin:auto;
  display:flex;
  flex-direction:column;
}

form input, textarea, button{
  margin:10px 0;
  padding:10px;
}

button{
  background:#b22222;
  color:white;
  border:none;
  cursor:pointer;
}

footer{
  background:#222;
  color:white;
  text-align:center;
  padding:15px;
}
